@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  @apply bg-gray-1 text-gray-12;
  font-weight: 300;
}

* {
  @apply selection:bg-[#FF00FF] selection:text-white;
  box-sizing: border-box;
}

a {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-9;
  color: inherit;
  text-decoration: none;
}

div#__next,
div#__next > div,
div#__next > div > main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* For WebKit-based browsers (Chrome, Safari, and Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    height: -webkit-fill-available;
  }
  .h-screen {
    height: -webkit-fill-available;
  }
}

.recharts-cartesian-grid-horizontal > line {
  @apply stroke-gray-6;
}

.recharts-cartesian-grid-vertical > line {
  @apply stroke-gray-6;
  stroke-dasharray: 2 2;
}

.recharts-tooltip-cursor {
  @apply fill-gray-5;
}

.recharts-tooltip-wrapper:focus {
  outline: none;
}

.recharts-cartesian-axis-tick-value {
  @apply fill-gray-11;
}
